* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 2rem;
  font-weight: bolder;
  font-size: 2rem;
}

.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.flashcards div {
  border: 1px solid #bfe5e8;
  background-color: #bde6eb;
  border-radius: 7px;
  /* aspect-ratio: 2 / 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem;
  cursor: pointer;
}

div.selected {
  border: 1px solid #24ab7e;
  background-color: #24ab7f;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 860px) {
  .flashcards {
    display: grid;
    grid-template-columns: 1fr;
  }
}
